@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@700&display=swap');
body {
  	margin: 0; line-height: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* app/globals.css */
@font-face {
  font-family: 'SF Pro Display';
  src: url('/app/fonts/sfprodisplayregular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/app/fonts/sfprodisplaybold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* You can add any other global styles here */

/* styles.css or your specific CSS file */

